.item-post__title {
  font-size: 18px;
  word-break: break-word;

  a {
    display: inline-block;
  }
}
/* Slider */
@import "slides";

/* Posts Grid */
@import "post-grid";

/* Posts Carousel */
@import "post-carousel";

/* Partners Carousel */
@import "partners-carousel";

/* Partners Carousel */
@import "popup-video";

/* Chart */
@import "chart";