.header-right {
  padding: 15px 0;
}
.header-right-top {
  .header-contact {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      padding-right: 10px;

      a {
        color: $color-title;

        &:hover {
          color: $color-hover;
        }
      }
    }
  }
  .header-search {
    margin-left: 10px;

    .search-form {
      position: relative;
      border: 1px solid #cccccc;
      border-radius: 20px;
      overflow: hidden;

      .search-field {
        padding: 3px 30px 3px 10px;
        border: none;
      }
      .search-submit {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30px;
        color: #c3c3c3;
        padding: 0;
        background-color: transparent;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        .search-reader-text {
          display: none;
        }
      }
    }

  }
}