.header-right-top {
  .navbar-toggler {
    color: #999999;
    padding: 0 0 0 10px;
  }
}
.header-right-bottom {
  margin-top: 15px;
}
.main-navigation {
  background-color: #ffffff;

  .site-navbar {
    position: relative;
  }
  button {
    &.navbar-toggler {
      padding: 0;
      border: 0;
    }
  }
}

.site-menu {
  @include flex(1);

  > ul {
    > li {
      margin-right: 2px;
      padding: 3px 0;
      border-radius: 4px;

      &.menu-item-has-children {
        border-radius: 4px 4px 0 0;
      }
      > a {
        color: $color-hover;
        font-weight: 700;
        text-transform: uppercase;
      }
      &:hover {
        background-color: $background-hover;

        > a,
        > a:after {
          color: #ffffff;
        }
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      position: relative;
      @include transition(all 0.4s ease-in-out);

      a {
        padding: 0 15px;
        text-shadow: none;
        display: block;
        font-size: 12px;
      }
      .sub-menu {
        padding: 0 5px;
        min-width: 180px;
        border-top: 5px solid $background-hover;
        border-radius: 0 4px 4px 4px;
        background-color: #ffffff;
        position: absolute;
        top: 120%;
        left: 0;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.15));
        @include transition(all 0.4s ease-out);

        li {
          padding: 8px 0;
          display: block;
          border-bottom: 1px solid #f2f2f2;

          &:last-child {
            border-bottom: 0;
          }

          a {
            white-space: nowrap;
            padding: 0 8px;
          }
          .sub-menu {
            left: 90%;
            top: -1px;
          }
          &:hover {
            background-color: #f4f4f4;
            > .sub-menu {
              left: 100%;
            }
          }
        }
      }
      &:hover {
        > .sub-menu {
          top: 100%;
          z-index: 999;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.icon_menu_item_mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;

  &:after {
    content: "\f078";
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
  }
  &.icon_menu_item_mobile_active {
    &:after {
      content: "\f077";
    }
  }
}