// Color
$color-primary: #777777;
$color-title: #1d2127;
$color-hover: #fe0000;

// Background
$background-primary: #fe0000;
$background-second: #ec2027;
$background-hover: #e50000;

// Border color
$border-color: #eeeeee;